:root {
  --bg-main: rgb(85, 216, 193);
  --bg-header: rgb(252, 246, 156);
  --bg-square: rgb(255, 111, 181);
  --bg-lines: rgb(255, 153, 102);
  --bg-circle: rgb(134, 166, 223);
  --bg-rectangle-medium: rgb(229, 43, 80);
  --bg-rectangle-large: rgb(0, 87, 146);
  --border-black: rgb(0, 0, 0);
  --shadow-black: rgba(0, 0, 0, 0.15925);
  --shadow-yellow: rgb(255, 215, 0);
}

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* SMALL DEVICE STYLES < 583px */
body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'a a'
    'b b';
  grid-template-rows: min-content 1fr;
  background-color: var(--bg-main);
  border: 0.3rem solid var(--border-black);
}

.header {
  grid-area: a;
  height: 5rem;
  background-color: var(--bg-header);
  border-bottom: 0.3rem solid var(--border-black);
}

.main {
  display: grid;
  grid-template-rows: min-content;
  grid-area: b;
  padding: 2rem;
  background-color: var(--bg-main);
}

.square {
  position: relative;
  width: 24vw;
  max-width: 7.5rem;
  height: 24vw;
  max-height: 7.5rem;
  background-color: var(--bg-square);
  border: 0.3rem solid var(--border-black);
  transform: rotate(45deg);
  transition: border-radius .3s linear;
  animation: circle-to-square 1s ease-in-out;
}

.square-1 {
  top: 3.2rem;
  left: 14rem;
}

.square-2 {
  top: 2rem;
  left: 3.2rem;
}

.square:hover {
  box-shadow:
    2rem 2rem 2rem var(--shadow-black),
    inset 5rem 1rem var(--shadow-yellow);
  background-color: var(--bg-header);
  border-radius: 100%;
}

.shapes {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  margin-top: 9rem;
  margin-left: 1.5rem;
}

.equal-sign {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.equal-line {
  width: 24vw;
  max-width: 13rem;
  height: 4vw;
  max-height: 2rem;
  list-style-type: none;
  background-color: var(--bg-lines);
  border: 0.3rem solid var(--border-black);
  transition:
    background-color .3s linear,
    transform .3s linear;
  animation: gelatine 1.5s ease-in-out;
}

.equal-sign:hover .equal-line {
  background-color: var(--bg-rectangle-medium);
  box-shadow: 2rem 2rem 2rem var(--shadow-black);
}

.equal-sign:hover .equal-line-1 {
  transform: rotate(45deg) translate(0, 50%);
}

.equal-sign:hover .equal-line-2 {
  transform: rotate(-45deg) translate(0, -50%);
}

.circle {
  width: 23.5vw;
  max-width: 9rem;
  height: 23.5vw;
  max-height: 9rem;
  border-radius: 100%;
  background-color: var(--bg-circle);
  border: 0.3rem solid var(--border-black);
  transition:
    border-radius .3s linear,
    transform .3s linear;
  animation: square-to-circle 1s ease-in-out;
}

.circle:hover {
  border-radius: 0;
  transform: rotate(90deg);
  box-shadow:
    2rem 2rem 2rem var(--shadow-black),
    inset 2rem 2rem var(--bg-header);
  background: linear-gradient(45deg, var(--bg-circle) 50%, var(--bg-rectangle-large) 50%)
}

.rectangle {
  width: 41vw;
  margin-top: 0.8rem;
  margin-left: 5.3rem;
  padding-top: 3.2rem;
  background-color: var(--bg-lines);
  border: 0.3rem solid var(--border-black);
  transition:
    background-color 0.3s linear,
    border-radius .3s linear,
    box-shadow .3s linear;
  animation: gelatine 1.5s ease-in-out;
}

.rectangle:hover {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 100%;
  box-shadow:
    2rem 2rem 2rem var(--shadow-black),
    inset 2rem 2rem var(--bg-header),
    inset 4rem 4rem var(--bg-square),
    inset 6rem 6rem var(--bg-lines),
    inset 8rem 8rem var(--bg-main);
}

.heading {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  transition:
    margin 0.3s linear,
    transform 0.3s linear,
    letter-spacing 0.3s linear;
}

.rectangle:hover .heading {
  letter-spacing: 2rem;
}

/* MEDIUM DEVICE STYLES > 583px && < 900px */
@media screen and (min-width: 583px) {
  .main {
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    padding: 3rem 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .square {
    width: 16vw;
    max-width: 16rem;
    height: 16vw;
    max-height: 16rem;
  }

  .square-1 {
    top: -3.9rem;
    left: 18rem;
  }

  .square-2 {
    top: -4.5rem;
    left: 1.8rem;
  }

  .equal-sign {
    row-gap: 3rem;
  }

  .equal-line {
    max-width: 16rem;
  }

  .circle {
    max-width: 13rem;
    max-height: 13rem;
  }

  .rectangle {
    max-width: 30rem;
    margin-left: auto;
    background-color: var(--bg-rectangle-medium);
  }
}

/* BIG DEVICE STYLES > 900px */
@media screen and (min-width: 901px) {
  .main {
    grid-template-columns: 1fr 29%;
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
  }

  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .shapes {
    align-items: center;
  }

  .square-1 {
    top: 0.8rem;
    left: 16rem;
  }

  .square-2 {
    top: 0;
    left: 2.5rem;
  }

  .rectangle {
    max-width: 25rem;
    background-color: var(--bg-rectangle-large);
  }

  .heading {
    color: var(--bg-header);
  }
}

/* ANIMATIONS */
@keyframes circle-to-square {
  0% {
    border-radius: 100%;
    transform: rotate(45deg) translateX(-20rem);
    box-shadow:
      2rem 2rem 2rem var(--shadow-black),
      inset 5rem 1rem var(--shadow-yellow);
    background-color: var(--bg-header);
    opacity: 0;
  }

  100% {
    border-radius: 0;
    transform: rotate(-405deg);
    background-color: var(--bg-square);
    opacity: 1;
  }
}

@keyframes square-to-circle {
  0% {
    border-radius: 0;
    transform: rotate(45deg) translateX(-20rem);
    box-shadow:
      2rem 2rem 2rem var(--shadow-black),
      inset 2rem 2rem var(--bg-header);
    background: linear-gradient(45deg, var(--bg-circle) 50%, var(--bg-rectangle-large) 50%);
    opacity: 0;
  }

  100% {
    border-radius: 100%;
    transform: rotate(-405deg);
    background-color: var(--bg-circle);
    opacity: 1;
  }
}

@keyframes gelatine {
  0% {
    box-shadow: 2rem 2rem 2rem var(--shadow-black);
    transform: scaleX(0.9) translateX(-100%);
    opacity: 0;
  }

  20% {
    box-shadow: 2rem 2rem 2rem var(--shadow-black);
    transform: scaleX(1);
  }

  40% {
    box-shadow: 2rem 2rem 2rem var(--shadow-black);
    transform: scaleX(1.1);
  }

  60% {
    transform: scaleX(1);
  }

  60% {
    transform: scaleX(0.9);
  }

  100% {
    transform: scaleX(1) translateX(0);
  }
}